      <!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top" data-header-fix-moment="300">

  <div class="u-header__section u-header__section--light g-transition-0_3 g-py-20"
       data-header-fix-moment-exclude="g-bg-white g-py-10"
       data-header-fix-moment-classes="g-bg-white-opacity-0_9 u-shadow-v18 g-py-3" style="background-color: #e5e5e5;">
    <nav class="js-mega-menu navbar navbar-toggleable-md">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="/" class="navbar-brand" style="margin-top: -10px;">
          <img alt="Wallaroo Labs" src="/images/wallaroo-menu-bar-logo.png" />
        </a>
        <!-- End Logo -->

        <!-- Navigation -->

        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">

          <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">

          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a id="nav-link--pages" class="active nav-link g-py-7 g-px-0" href="https://www.wallaroolabs.com/technology"
               aria-haspopup="true"
               aria-expanded="false"
               aria-controls="nav-submenu--pages"
            >Technology</a>
          </li>

            <li class="nav-item g-mx-10--lg g-mx-15--xl">
              <a id="nav-link--pages" class=" nav-link g-py-7 g-px-0" href="https://www.wallaroolabs.com/product"
                 aria-haspopup="true"
                 aria-expanded="false"
                 aria-controls="nav-submenu--pages"
              >Product</a>
            </li>

            <li class="nav-item g-mx-10--lg g-mx-15--xl">
              <a id="nav-link--pages" class=" nav-link g-py-7 g-px-0" href="https://www.wallaroolabs.com/community"
                 aria-haspopup="true"
                 aria-expanded="false"
                 aria-controls="nav-submenu--pages"
              >Community</a>
            </li>

            <li class="nav-item g-mx-10--lg g-mx-15--xl">
              <a id="nav-link--pages" class=" nav-link g-py-7 g-px-0" href="https://www.wallaroolabs.com/about"
                 aria-haspopup="true"
                 aria-expanded="false"
                 aria-controls="nav-submenu--pages"
              >About</a>
            </li>

            <li class="nav-item g-mx-10--lg g-mx-15--xl">
              <a id="nav-link--pages" class="nav-link g-py-7 g-px-0" href="https://blog.wallaroolabs.com/"
                 aria-haspopup="true"
                 aria-expanded="false"
                 aria-controls="nav-submenu--pages"
              >Blog</a>
            </li>


          </ul>
        </div>
        <!-- End Navigation -->


      </div>
    </nav>
  </div>
</header>
<!-- End Header -->


<header id="site-head">
  <a id="blog-logo" href="/"><div class="bloglogo" style="background: url(/images/logo.png)"></div></a>
	{{ with .Site.Params.title }}
	<h1 class="blog-title"><a href="{{ $.Site.BaseURL }}">{{ . | markdownify }}</a></h1>
	{{ end }}
	{{ with .Site.Params.subtitle }}
	<h1 class="blog-subtitle">{{ . | markdownify }}</h1>
	{{ end }}
</header>
