<nav class="menu" role="nav">
  <ul>
    {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
                <li class="nav{{ if $currentPage.IsMenuCurrent "main" . }} active nav-current{{ end }}">
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
        {{ end }}
        <!-- <li>
            <a href="#" target="_blank">Hardcoded Link 1</a>
        </li> -->
    </ul>
  </nav>
